
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    
    function isSignedIn() {
      return request.auth != null;
    }

    function getUserData() {
      return get(/databases/$(database)/documents/users/$(request.auth.uid)).data;
    }

    function isAdmin() {
      return isSignedIn() && getUserData().role == 'Admin';
    }

    function isEmployee() {
      return isSignedIn() && getUserData().role == 'Employee';
    }

    function isStaff() {
      return isAdmin() || isEmployee();
    }

    function isCommunicator() {
      return isSignedIn() && getUserData().role == 'Communicator';
    }

    function isReplenisher() {
      return isSignedIn() && getUserData().role == 'Replenisher';
    }

    // Reglas para perfiles de usuario
    match /users/{userId} {
      allow read: if isSignedIn();
      allow write: if isAdmin() || request.auth.uid == userId;
    }

    // Reglas generales para Staff (Admin y Empleados)
    match /{path=**}/clients/{docId} { allow read, write: if isStaff() || isCommunicator(); }
    match /{path=**}/route_sheets/{docId} { allow read, write: if isStaff() || isCommunicator() || isReplenisher(); }
    match /{path=**}/financial_accounts/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/transactions/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/products_services/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/production_orders/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/purchase_orders/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/suppliers/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/payouts/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/zones/{docId} { allow read, write: if isStaff() || isCommunicator(); }
    match /{path=**}/product_categories/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/expense_categories/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/email_templates/{docId} { allow read, write: if isStaff() || isCommunicator(); }
    match /{path=**}/whatsapp_templates/{docId} { allow read, write: if isStaff() || isCommunicator(); }
    match /{path=**}/purchases/{docId} { allow read, write: if isStaff(); }
    match /{path=**}/user_roles/{docId} { allow read, write: if isAdmin(); }
  }
}
